<h1 class="text-center mt-4">COMPLITECH SOLUTIONS PRIVATE LIMITED</h1>
<h6 class="text-center">Parul Nagar Society, Ahmedabad, Gujarat - 380061  CIN:U72900GJ2007PTC051398</h4>
<h4 class="text-center">Payslip</h6>

<table border="1" width="100%" height="100px">
  <tr>
    <td>
      Name:<%= @salary.salary_details["Name"] %></br>
      PAN:<%= @salary.salary_details["PAN"] %></br>
      location:<%= @salary.salary_details["location"] %></br>
      PF Number:<%= @salary.salary_details["PF Number"] %>
    </td>
    <td>
      Employee id:<%= @salary.salary_details["Employee ID"] %></br>
      Bank no:<%= @salary.salary_details["Bank A/C No"] %></br>
      department:<%= @salary.salary_details["Department"] %></br>
      Designation:<%= @salary.salary_details["Designation"] %>
    </td>
  </tr>
</table>
<table border="1" width="100%" height="100px">
  <tr>
    <td>
      BAsic for PF:<%= @salary.salary_details["Basic for PF"] %></br>
      Other Basic:<%= @salary.salary_details["Other Basic"] %></br>
      HRA:<%= @salary.salary_details["HRA"] %></br>
      Incentives:<%= @salary.salary_details["Incentives"] %>
    </td>
    <td>
      PF:<%= @salary.salary_details["PF"] %></br>
      Gross Total:<%= @salary.salary_details["Gross Total"] %></br>
      Total Deductions:<%= @salary.salary_details["Total Deductions"] %></br>
      Net Amount:<%= @salary.salary_details["Net Amount"] %>
    </td>
  </tr>
</table>